.available-table{
    width: 330px;
    background-color: whitesmoke;
    text-align: center;
    font-size: 27px;
    font-weight: 500;
    padding: 7px;
    margin: 50px;
    border-radius: 20px;
    box-shadow: 0 0 15px #494949;
    
}
.table-img{
    width: 250px;
    margin:5px ;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    /*box-shadow: 0 0 8px 1px black;*/
    cursor: pointer;
}
.btn-table{
    width: 230px;
    margin: 10px;
}