.available-table{
    width: 350px;
    background-color: whitesmoke;
    text-align: center;
    font-size: 27px;
    font-weight: 500;
    padding: 10px;
    margin: 50px;
    border-radius: 20px;
    box-shadow: 0 0 15px #494949;
    
}
.table-img{
    width: 200px;
    margin:20px ;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15%;
    box-shadow: 0 0 8px 1px black;
    cursor: pointer;
}