/*left side container css */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.first-login-container {
    width: 450px;
    height: 400px;
    margin: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
    box-shadow: 0 2px 4px 0 gray;
    border-radius: 8px;
}

.profile-pic-container {
    text-align: center;
    margin-left: 2px;
    cursor: pointer;
    margin-top: 30px;
}

.profile-pic {
    width: 50px;

}

.login-form-input {
    width: 370px;
    height: 35px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #f5d5e0;
    padding: 5px;
    border: none;

}

.login-form-input:hover {
    box-shadow: 0 0 4px 0.5px #0066ff;
}

.login-form-item {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    margin: 15px;
    margin-left: 40px;
    margin-bottom: 0;

}

.signin-btn {
    width: 300px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}


.para-login {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

/*right side container css */
.login-right-container {
    margin-top: 0;
}

.login-right-image {
    width: 450px;
    height: 500px;
    margin: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}