.card-container{
  width: 450px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.sweet-item-card {
  width: 430px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 15px #686868;
}

.sweet-food-card-body {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 5px;
}

.food-card-img {
  width: 230px;
  height: 200px;
  object-fit: cover;
  padding: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sweet-card-sub-container {
  padding: 5px;
  height: 200px;

}

.description{
  font-size: 12px;
  text-align: justify;
  height: 60px;
  overflow: hidden;
}

.price-qnt-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 10px 0;
  
}

.price {
  color: #00cc99;
  font-size: 14px;
  font-weight: bold;

}

.quantity-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  font-size: 14px;
  height: 25px;

}

.qnt-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.qnt-text {
  font-size: 20px;
  margin: 10px;
}

.left:hover {
  color: rgb(207, 8, 8);
  font-weight: bold;
}

.right:hover {
  color: #00cc99;
  font-weight: bold;
}

.btn-add-to-list {
  width: 160px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius:4px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}