.sweet-item-card {
  margin-top: 45px;
  margin-left: 20px;
  width: 450px;
  height: 230px;
  border-radius: 10px;
  box-shadow: 0 0 15px #808080;
}

.price {
  color: green;
 font-size: 20px;
  height: 30px;
}

.food-card-img {
  width: 200px;
  height: 230px;
  object-fit: cover;
  padding: 0;

}

.btn-add-to-list {
  width: 100px;
  height: 40px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00cc99;
  color: black;
  font-weight: bold;
  font-size: 17px;
}

.btn-shop {
  width: 100px;
  height: 40px;
  background-color: #E17FA3;
  color: black;
  border: none;
  font-weight: bold;
  font-size: 17px;
  border-radius: 5px;
  margin-left: 20px;
}

.qnt-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  box-shadow: 0 0 4px 1px black;
  width: 20px;
  height: 30px;
  color: black;
  cursor: pointer;
  padding: 5px;

}

.qnt-btn:hover {
  box-shadow: 0 0 4px 1px black;
}

.qnt-text {
  font-size: 30px;
  margin: 10px;
}

.price-qnt-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quantity-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 50px;
}

.sweet-food-card-body {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;

}

.sweet-card-sub-container {
  width: 250px;
  border-radius: 10px;
  padding: 3px;

}

.sweet-card-sub-container p {
  font-size: 15px;
  
}