.sweet-item-card {
  margin: 10px;
  margin-top: 40px;
  width: 410px;
  height: 230px;
  border-radius: 10px;
  box-shadow: 0 0 15px #494949;
}

.price {
  color: #00cc99;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
}

.food-card-img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  padding: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-add-to-list {
  width: 150px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  font-size: 17px;
}


.qnt-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 25px;
  color: black;
  cursor: pointer;
  padding: 5px;

}

.left:hover {
  color: rgb(207, 8, 8);
  font-weight: bold;
}

.right:hover {
  color: #00cc99;
  font-weight: bold;
}

.qnt-text {
  font-size: 25px;
  margin: 10px;
}

.price-qnt-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quantity-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 50px;
}

.sweet-food-card-body {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 10px;
}

.sweet-card-sub-container {
  width: 270px;
  border-radius: 10px;
  padding: 10px;
}

.sweet-card-sub-container p {
  font-size: 15px;

}