.sweet-item-card{
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 3px #808080;
  }
  
  .food-card-img{
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin: 5px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  .btn-add-to-list{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #5f259f;
    font-size: 20px;
    padding: 5px;
    width: 180px;
    border-radius: 25px;
    margin-top: 15px;
  }
  
  .qnt-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #5f259f;
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
  }
  
  .qnt-text{
    font-size: 40px;
  }
  
  .quantity-btn-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .sweet-food-card-body{
    display: flex;
    justify-content: space-evenly;
  }
