.mylist-container{
    display: flex;
    justify-content: space-evenly;
}

.confirm-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mylist-card{
    margin: 20px;
    width: 320px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 15px #494949;
}
.mylistSweet{
    width: 280px;
    height: 200px;
    border-radius: 5px;
}