/*left side container css */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.signup-form-container {
    margin-top: 40px;
    margin-left: 80px;
    width: 500px;
    height: 500px;

}

.signup-first-container {
    width: 580px;
    height: 600px;
    margin: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: beige;
    box-shadow: 0 2px 4px 0 gray;
    border-radius: 10px;
}

.profile-pic-container {
    text-align: center;
    margin-left: 2px;
    cursor: pointer;
    margin-top: 0;
}

.profile-pic {
    width: 60px;

}

.signup-form-input {
    width: 450px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f5d5e0;
    padding: 5px;
    border-bottom: 1px solid black;
}

.signup-form-input:hover {
    box-shadow: 0 0 4px 0.5px #0066ff;
}

.signup-form-item {
    margin-top: 15px;
    margin-left: 50px;
    font-size: 20px;
    border: 1px solide red;
}

.create-btn {
    width: 450px;
    margin-left: 50px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.para-signup {
    margin-top: 5px;
    margin-left: 55px;
}

/*right side container css */

.signup-right-image {
    width: 600px;
    height: 600px;
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}