/*left side container css */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.signup-first-container {
    width: 450px;
    height: 500px;
    margin: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
    box-shadow: 0 2px 4px 0 gray;
    border-radius: 8px;
}

.profile-pic-container {
    text-align: center;
    margin-left: 2px;
    cursor: pointer;
    margin-top: 0;
}

.profile-pic {
    width: 50px;

}

.signup-form-input {
    width: 425px;
    height: 35px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #f5d5e0;
    padding: 5px;
}

.signup-form-input:hover {
    box-shadow: 0 0 4px 0.5px #0066ff;
}

.signup-form-item {
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
}

.btn-box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.create-btn {
    width: 300px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.para-signup {
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/*right side container css */

.signup-right-image {
    width: 450px;
    height: 500px;
    margin: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}