.my-list {
  cursor: pointer;
  margin-top: 0%;
  font-size: 20px;
  color: rgb(224, 49, 49);
}

.shLogo {
  width: 38px;
  border-radius: 50% ;
  box-shadow: 0 0 2px 0.5px black;
}
.cart{
  width: 35px;
}
.userpic {
  width: 35px;
}
